@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;600;700&display=swap');

body{
    font-family: "Spline Sans", sans-serif;
    margin:0;
    padding:0;
}

.title{
    color:rgb(203, 132, 0)
}

.home:hover{
    background-color: orange;
    border-radius: 18px;
}

.features:hover{
    background-color: orange;
    border-radius: 18px;
}

.imgjum{
    filter:brightness(50%);
}

.carousel{
    padding-top:30px
}

#greetings{
    min-height: 50vh;
    padding-top:120px;
}

.healthy{
    padding-top: 10px;
    padding-bottom: 10px;
}

#goTo{
    padding-top:60px;
    min-height:100vh;
}

.footer{
    background-color: rgb(34, 33, 33);
    color:white;
    min-height: 50vh;
    padding-top:30px;
    margin-top: 20px;
}

.foot{
    color:white;
}

.foot:hover{
    color:white;
}

.ajg{
    padding-bottom: 10px;
}

.login:hover{
    background-color: orange;
    border-radius: 18px;
}